.container {
  margin-top: 4rem;
}
.detail-container {
  font-family: Pokemon;
  margin: 0 auto;
  margin-top: 5 rem;
  justify-content: center;
  width: 40%;
  height: 20%;
  display: flex;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  align-items: center;
  gap: 2rem;
}

img {
  width: 250px;
}

@font-face {
  font-family: "Pokemon";
  src: url("../../assets/PocketMonk.ttf") format("truetype");
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.div-img {
  background-color: #514f4f;
  border-radius: 150px;
}
