.order {
  display: flex;
  column-gap: 1rem;
  align-content: center;
  align-items: center;
  margin: auto;
  padding-left: 26px;
  padding-right: 2rem;
  color: whitesmoke;
  letter-spacing: 2px;
}
