.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 23px;
  width: 281px;
  display: flex;
  gap: 1rem;
  line-height: 18px;
  margin-bottom: 1px;
}

@font-face {
  font-family: "Pokemon";
  src: url("../../assets/PocketMonk.ttf") format("truetype");
}

button,
input {
  font-family: Pokemon;
}
